body {
    background: linear-gradient(135deg, #2b0044, #000000, #2b0044, #000000);
    background-size: 400% 400%;
    animation: Gradient 60s ease infinite;
    margin: 0px;
    height: 100vh;
}

@keyframes Gradient {
    0%{background-position:top left}
    50%{background-position:bottom right}
    100%{background-position:top left}
}

.text {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    color: beige;
    font-size: 2em;
    font-family: Helvetica, sans-serif;
}