body {
    background: linear-gradient(135deg, #2b0044, #000000, #2b0044, #000000);
    background-size: 400% 1200%;
    animation: Gradient 60s ease infinite;
    margin: 0px;
    height: 100vh;
}

@keyframes Gradient {
    0%{background-position:10% 10%}
    50%{background-position:100% 70%}
    100%{background-position:10% 10%}
}

.text {
    color: beige;
    text-align: justify;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 25%;
}

@media all and (max-width:1400px) {
    .text {
        padding: 20%;
    }
}

@media all and (max-width:800px) {
    .text {
        padding: 15%;
    }
}

@media all and (max-width:600px) {
    .text {
        padding: 10%;
    }
}

@media all and (max-width:400px) {
    .text {
        padding: 5%;
    }
}